<%= render "shared/header" %>


<div class='main'>
  <%# 商品一覧 %>
  <div class='camp-contents'>
    <ul class='camp-lists'>
        <% @camps.each do |camp| %>
          <li class='list'>
            <%# <%= link_to item_path(item.id) do %> %>
              <div class='camp-img-content'>
                <%= image_tag camp.image, class: "camp-img" %>
              </div>
              <div class='camp-info'>
                <h3 class='camp-name'>
                  <%= camp.name %>
                </h3>
              </div>
                <div class='star-btn'>
                  <%= image_tag "star.png", class:"star-icon" %>
                  <span class='star-count'>0</span>
                </div>
            <%# <% end %> %>
          </li>
        <% end %>
    </ul>
  </div>
  <%# /商品一覧 %>