<%= render "shared/second-header" %>
<div class="show-main">
  <div class="show-content">
    <h2 class="camp-name">
      <%= @camp.name %>
    </h2>
    <%= image_tag @camp.image ,class:"camp-show-img" %>
    <% if user_signed_in? && current_user.id == @camp.user_id %>
      <%= link_to "投稿内容の編集", edit_camp_path, class: "item-red-btn" %>
      <p class="or-text">or</p>
      <%= link_to "削除", camp_path, method: :delete, class:"camp-destroy" %>
    <% end %>
    <div class="camp-text">
      <%= @camp.text %>
    </div><table class="detail-table">
    <table>
      <tr>
        <th class="detail-item">投稿者</th>
        <td class="detail-value"><%=link_to @camp.user.nickname,user_path(@camp.user.id) %></td>
      </tr>
      <tr>
        <th class="detail-item">キャンプ場所在地域</th>
        <td class="detail-value"><%= @camp.prefecture.prefecture %></td>
      </tr>
    </table>
  </div>

  <div class="comment-box">
    <% if user_signed_in? %>
      <%= form_with model: [@camp, @comment], local: true do |f| %>
        <div class="comment-text">
          <%= f.text_field :content, id:"comment_content", class: :comment_text %>
        </div>
        <div class="comment-btn">
          <%= image_tag "comment.png" ,class:"comment-flag-icon" ,width:"20",height:"25"%>
          <%= f.submit "コメントする", class: :comment_btn %>
        </div>
      <% end %>
    <% end %>
    <ul class="comments_lists">
      <% @comments.each do |comment| %>
        <li class="comments_list">
          <%= comment.content %>
        </li>
        <li class="comment_user">
          <%= link_to comment.user.nickname, user_path(comment.user.id) %>
        </li>
      <% end %>
    <ul>
  </div>
</div>