<%= render "shared/second-header" %>

<div class='main'>
  <div class="user">
    <div class="user-show-header">
      <div class="user-nickname">
        <%= @nickname %>さんの投稿一覧
      </div>
      <div class="profile-edit">
        <% if current_user != @user %>
          <% if current_user.following?(@user) %>
            <%= link_to 'フォロー外す', user_relationships_path(@user.id), method: :delete, class: "btn-sm btn-danger" %>
          <% else %>
            <%= link_to 'フォローする', user_relationships_path(@user.id), method: :POST, class:"btn-sm btn-success" %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="user-follow">
      <%= link_to followeds_user_path(@user) do %>
        <div class="user_followed">フォロー中<%= @following_users.count %></div>
      <% end %>&nbsp;&nbsp;
      <%= link_to followers_user_path(@user) do %>
        <div class="user_follower">フォロワー<%= @follower_users.count %></div>
      <% end %>
    </div>
  </div>
  <div class='camp-contents'>
    <% @camps.each do |camp| %>
      <div class='camp-tweet'>
        <%= link_to camp_path(camp.id) do %>
          <div class='camp-img-content'>
            <%= image_tag camp.image, class: "camp-img" %>
          </div>
            <h3 class='camp-name'>
              <%= camp.name %>
            </h3>
        <% end %>
        <div class='user-star-btn'>
          <%= image_tag "star.png", class:"star-icon" %>
          <span class='star-count'>0</span>
        </div>
      </div>
    <% end %>
  </div>
</div>