<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class='top-page-header'>
  <div class='nav'>
    <ul class='lists-left'>
      <li><%= link_to "CAMP MEMORY", "/", class: "app-name" %></li>
    </ul>
    <%= link_to image_tag("camp-logo-color.png", class:"camp-icon"), "/" %>
    <ul class='lists-right'>
      <% if user_signed_in? %>
        <li><%= link_to '新規投稿', new_camp_path, class: "camp-new" %></li> 
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
      <% else %> 
        <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
        <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
      <% end %> 
    </ul>
  </div>
  <div class='search-bar-contents'>
    <%= form_with(url: search_camps_path, local: true, method: :get, class:"search-form") do |form| %>
      <%= form.text_field :keyword, placeholder: "投稿を検索する", class: "input-box" %>
      <%= button_tag type: :submit, class: "search-button" do %>
        <%= image_tag "search.png", class:"search-icon" %>
      <% end %>  
    <% end %>
  </div>
</header>